Hola, mi nombre es Luis S. Lopez Maitret: 
<br>
<br>
Trabajo como: Web Developer
<br>
<br>
Manejo: PHP/MySQL, HTML5 (CSS3 Responsive), jQuery, NodeJS, MongoDB y mas...
<br>
<br>
Originario de: San Rafael, Veracruz, Mexico :D
<br>
<br>
Mi FB personal: <a href="https://www.facebook.com/maitret.ito">https://www.facebook.com/maitret.ito</a>